:root {
  --background-color: #ededed;
  --background-color-2: #f9f9f9;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray-text: #4d4d4d;
  --color-gray-btns: #d9d9d9;
  --color-bg-footer: #141414;
  --color-footer-btns: #323232;
  --color-footer-text: #dadada;
  --color-success: #0a8a0a;
  --color-error: #c0392b;
  --color-success-bg: rgba(10, 138, 10, 0.1);
  --color-error-bg: rgba(192, 57, 43, 0.1);

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
  background-color: var(--background-color);
}

.App {
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.buttonLink {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  text-decoration: none;
  color: var(--color-black);
  z-index: 2;
  transition: all 0.3s ease;
}

.buttonLink:hover {
  transform: translateX(15px);
}

.buttonLink::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  background: var(--color-gray-btns);
  border-radius: 50%;
  z-index: -1;
  transition: all 0.3s ease;
}

.buttonLink::after {
  content: "→";
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.buttonLink:hover::before {
  width: 130%;
  border-radius: 30px;
}
